# environment
.env
.venv/

# runtime data
data/raw/*
data/staging/*
data/marts/*
data/logs/*

# keep folder structure
!data/raw/.gitkeep
!data/staging/.gitkeep
!data/marts/.gitkeep
!data/logs/.gitkeep

# python
__pycache__/
*.pyc
.pytest_cache/

# system
.DS_Store
Thumbs.db